	a {
		color: yellow;
		text-decoration: none;
	}
	
	a:link {
	  /*color: Green;*/
	}

	a:visited {
		/*color: yellow;*/
	}
	
	a:hover {
		text-decoration: underline;
		background-color: Green;
	}
	
	td	{
		font-style: italic;
	}
	/*
	td	{
		background-color:  #CD5C5C ;
	}
	
	th {
			background-color: #CCFFCC;
	}
	*/
	li	{
			font-style: italic;
	}
			