#header {
	font-family: 'Didot', cursive;
	text-align:center;
	font-size: 40px;
}

#footer {

	text-align: center;
}

#MenuTitle { 
	display: block;
	font-size: 1.50em;
	margin-top: 1em;
	margin-bottom: 1em;
	margin-left: 0;
	margin-right: 0;
	font-weight: bold;
	text-align: center;
}

#MenuItem { 
	text-align: center;
	font-size: .90em;
}

.RequiredLabel { 
	display: block;
	font-size: 1.17em;
	margin-left: 0;
	margin-right: 5px;
	margin-top: 5px;
	font-weight: bold;
	text-align: right;
}

.nonRequiredLabel { 
	display: block;
	font-size: 1.17em;
	margin-left: 0;
	margin-right: 5px;
	margin-top: 5px;
	text-align: right;
}


#ContactLabel { 
	display: block;
	font-size: 1.17em;
	margin-left: 0;
	margin-right: 5px;
	text-align: right;
}



a {
	text-decoration: none;
}

a:visited {
	color: orange;
}

a:hover {
	font-weight: bold;
}

th{
	font-size: 1.50em;
	width: 50px;
	text-decoration: underline;
	text-align: center;
	
	}

	
tbody		{
	text-align: center;
	font-size: .90em;
	table-layout: fixed;
	padding-left: 40px;
	
}

.jumbotron {
    background-color:pink; 
	text-align: center;
	text-decoration: strong;
}
